


@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Roboto:wght@100;300;400&display=swap');


body{
    margin:0;
    position:relative;
    height:100vh;
}
/* general effect */
#info .logo img,p,h3,h5{
    position:absolute;
}

#info .parallax {
  background: url(../img/cleo-topper.jpg) center/cover no-repeat;
  min-height: 100vh;
  background-attachment: fixed;
}
#info .logo img{
    width:30px;
    top:0.8em;
    right:20%;
    
}
#info .logo p{
    top:0.4em;
    right:7%; 
    text-decoration: underline orange;
    text-underline-position: under;
    font-family: 'Roboto', sans-serif;
    color:white;
    
}
#info h3{
    left:1.5em;
    top:4.5em;
    width:28%;  
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    color:white;
   
}
#info h5{
    font-family: 'Mr Dafoe', cursive;
    top:20em;
    left:1.5em;
    font-size:2em;
    color:#e7bc0e;
   
}
#info h5::after{
    content: " ⌄";
    color:#e7bc0e;
    left:2em;
    
}
#info h5+ p{
    color:#6bc1a3;
    width:27em;
    left:20em;
    top:60em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size:20px;

}
#info span{
    color:white;
}
#info .statistic{
    position:absolute;
    left:4em;
    top:120em;
}
#info .statistic img{
   
    width:100px;
    /* left:1.5em;
    top:100em; */
}
#info .statistic h2{
   
    font-family: santio;
    font-size:4em;
    /* left:1.5em; */
    text-transform:uppercase;
}
#info .statistic h4{
      font-size: 2em;
    /* left:1.5em; */
    text-transform:uppercase;
    font-family: santio;
}
.numbers{
    left:2.5em;
}
.statistic +p{
    width:20em;
    position:absolute;
    right:6.5em;
    top:190em;
    color:#7eb8e1;
}
.kids{
    background:url(../img/kid.png)center/cover no-repeat;
    /* min-height: 100vh; */
    width:100%;
    position:absolute;
    top:180em;
}
#donate{
    position:absolute;
    left:3em;
    bottom:10em;
}
footer{
    
}







font-family:Santio bold
font-family: 'Mr Dafoe', cursive;
font-family: 'Roboto', sans-serif;

Farbe: #e7bc0e  / #efefef / #6bc1a3 / #cb91b6 / #7eb8e1 / #000 / #fff

